# Node modules
node_modules/

# Build output
dist/

#Test output
test/*.js
test/*.js.map
test/*.d.ts

# IDE/editor configurations
.vscode/
.idea/

# MacOS specific files
.DS_Store

# npm package manager
package-lock.json
